{% extends '../plantilla.html' %}

{% load static %}
{% block body %}
    <div class="container">
        <h1 class="text-center">CIUDAD</h1>
        <button type="button"><i class="bi bi-plus-lg"></i><strong>NUEVO</strong></button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CIUDAD</th>
                    <th>ACCION</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
{% endblock %}

